<%- include ("./../partials/head") %>

<div class="row">
  <div class="col">
    <h1>Skydiving Logbook</h1>
    <h2>For <%= username %></h2>
  </div>
  <div class="col">

  </div>
</div>

<ul class="nav nav-pills nav-pills-icons" role="tablist">

    <li class="nav-item">
        <a class="nav-link active" href="#dashboard-1" role="tab" data-toggle="tab">
            <i class="material-icons">dashboard</i>
            Dashboard
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#add-jump-1" role="tab" data-toggle="tab">
            <i class="material-icons">playlist_add</i>
            Add jump
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#logbook-1" role="tab" data-toggle="tab">
            <i class="material-icons">menu_book</i>
            Logbook
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#signout-1" role="tab" id="btn-signout" data-toggle="tab">
            <i class="material-icons">logout</i>
            Sign out
        </a>
    </li>
</ul>

<div class="tab-content tab-space">
    <div class="tab-pane active" id="dashboard-1">

      <div class="row">
        <div class="col">
          <div class="card">
        <div class="card-header card-header-icon card-header-rose">
          <div class="card-icon">
            <i class="material-icons">tag</i>
          </div>
        </div>
        <div class="card-body">
            <h4 class="card-title">Total jumps</h4>
            <h3><%= totalJumps %></h3>
            <br>
            <br>
            <br>
          </div>
        </div>
        </div>
        <div class="col">
          <div class="card">
        <div class="card-header card-header-icon card-header-warning">
          <div class="card-icon">
            <i class="material-icons">height</i>
          </div>
        </div>
        <div class="card-body">
            <h4 class="card-title">Total altitude</h4>
            <h3><%= (totalAltitude ?  totalAltitude.toLocaleString('en') : "0") %> <small>ft.</small></h3>
            <h4>Average</h4>
            <h4><%= (totalAltitude ? (totalAltitude / totalJumps).toLocaleString("en") : "0") %> <small>ft.</small></h4>
          </div>
        </div>
        </div>
        <div class="col">
          <div class="card">
        <div class="card-header card-header-icon card-header-info">
          <div class="card-icon">
            <i class="material-icons">accessibility_new</i>
          </div>
        </div>
        <div class="card-body">
            <h4 class="card-title">Total freefall time</h4>
            <h3><%= (totalFreefalltime ? totalFreefalltime.toLocaleString('en') : "0") %> <small>seconds</small></h3>
          </div>
        </div>
        </div>
        <div class="col">

        </div>
      </div>
    </div>

    <div class="tab-pane" id="add-jump-1">
      <%- include ("./partials/jump.registration.form.ejs") %>
    </div>

    <div class="tab-pane" id="logbook-1">
      <%- include ("./partials/log.table.ejs") %>
    </div>


</div>

<%- include ("./partials/jump.details.modal.ejs") %>

<script src="/assets/js/logbook.js"></script>

<script>
  <!-- javascript for init -->
$('.datetimepicker').datetimepicker({
  icons: {
    time: "fa fa-clock-o",
    date: "fa fa-calendar",
    up: "fa fa-chevron-up",
    down: "fa fa-chevron-down",
    previous: 'fa fa-chevron-left',
    next: 'fa fa-chevron-right',
    today: 'fa fa-screenshot',
    clear: 'fa fa-trash',
    close: 'fa fa-remove'
  }
});

$("#btn-signout").click(function () {
  fetch("/api/users/logout")
  .then(response => response.json())
  .then(data => {
    window.location.replace("/");
  });
});
</script>



<%- include ("./../partials/footer") %>
